* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  max-width: 630px;
  font-family: @df-sans;
  font-size: 12px;
}

.fa {
  padding-left: 13px;
  color: @df-dark-gray;
}

.outmost {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  // text-align: center;
  padding-bottom: 20px;

  @media @mobile {
    font-size: 14px;
  }
}

.year {
  .display-flex();
  width: 100%;
  clear: both;
  cursor: pointer;
  transition: margin-bottom .5s linear;

  &:hover {
    * > {
      opacity: 1;
    }
  }

  &.selected {
    margin-bottom: 12px;
  }
}

.key {
  max-height: 0;
  padding-top: 2px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;

  &.shown {
    max-height: 200px;
  }
}

.key-box {
//   display: inline-block;
}

.key-row {
  padding-bottom: 1px;
  margin-left: 15px;
}

.swatch {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 2px;
}

.label {
  .flex(0 0 35px);
  display: inline-block;
  color: @df-middle-gray;

  &.bolded {
    color: black;
    font-weight: bold;
    border-right: 1px dotted @df-border-gray;
  }
}

.bar-box {
  .flex(1);
}

.bar {
  height: 18px;
  display: inline-block;
  // outline: 1px solid white;
  // margin-bottom: 2px;
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  // text-align: right;
  color: @df-middle-gray;
}