* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

body {
  max-width: 630px;
}

.outmost {
  width: 100%;
}

.year {
  width: 100%;
  clear: both;
}

.bar {
  height: 15px;
  float: left;
  margin-bottom: 5px;
  outline: 1px solid white;
}