<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="tax-levies">

    <responsive-child>

      <div class="outmost" ng-controller="TaxController">
        
        <div class="title">Title goes here</div>
        <div class="chatter">Chatter goes here</div>
        <div class="year" ng-click="showTooltip(year)" ng-repeat="year in data">
          <div class="label" ng-class="{bolded: selected == year}">{{year.year}}</div>
          <div class="bar-box">
            <div ng-repeat="levy in year.levies" class="bar" ng-class="{bolded: selected == year}" style="width: {{levy.percent}}%; background: {{levy.color}}"></div>

            <div class="key" ng-show="selected == year">
              <div class="key-box" ng-repeat="levy in year.levies">
                <div class="key-row" ng-if="levy.number !== 0">
                  <div class="swatch" style="background: {{levy.color}}"></div> {{levy.name}} (${{levy.rounded}} million)
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="source">
          <em>Note: Adjusted for inflation.<br>
          Sources: Seattle Budget Office, Office of Councilmember Tim Burgess</em>
        </div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
      </div>

    </responsive-child>

    <script>
      var taxData = <%= JSON.stringify(csv.taxData) %>
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
