<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="tax-levies">

    <responsive-child>

      <div class="outmost" ng-controller="TaxController">
        
        <div class="title">More and larger property-tax levies</div>
        <div class="chatter">
          Click on a year to see the breakdown of Seattle voter-approved levies:
        </div>

        <div class="year" ng-click="showTooltip(year)" ng-class="{selected: selected == year}" ng-repeat="year in data">
          
          <div class="label" ng-class="{bolded: selected == year}">{{year.year}}</div>

          <div class="bar-box">
            <div class="bars">
              <div ng-repeat="levy in year.levies" class="bar" ng-class="{bolded: selected == year}" ng-style="{width: levy.percent + '%', background: levy.color}"></div>
              <div class="total" ng-class="{bolded: selected == year, absolute: year.year == 2016}">${{year.total}} million</div>
            </div>

            <div class="key" ng-class="{shown: selected == year}">
              <div class="projected"><span ng-if="year.year == 2016">Projected</span> {{year.year}} levies<span ng-if="year.year == 2016"> if Move Seattle is approved</span>:</div> 
              <div class="key-box" ng-repeat="levy in year.levies">
                <div class="key-row" ng-if="levy.number !== 0">
                  <div class="swatch" ng-style="{background: levy.color}"></div> {{levy.name}} <strong>(${{levy.rounded}} million)</strong>
                </div>
              </div>
            </div>
          </div>

          <div class="filler"></div>

        </div>

        <div class="source">Note: This graphic shows only voter-approved property-tax dollars paid to the city. Numbers are adjusted for inflation.</div>
        <div class="source"><em>Source: City of Seattle</em></div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
      </div>

    </responsive-child>

    <script>
      var taxData = <%= JSON.stringify(csv.taxData) %>
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
